@use '../../../../styles/variables.scss' as *;

.game-button {
    width: 20vw;
    height: auto;

    min-width: 80px;
    min-height: 80px;

    box-shadow: 10px 10px 15px black;
    border-radius: 33%;
}

.game-button img {
    width: 100%;
    height: 100%; // Pour remplir le bouton
    object-fit: cover; // Ajuste l'image sans déformation
    border-radius: 33%;
    display: block; // Évite les espaces indésirables
}


.game-button:hover {
    transform: scale(1.2);
}