/**
 * Reset
 */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mise en forme des formulaires */
input[type='radio'] {
    filter: grayscale(1); /* Grayscale passe le bouton en niveau de gris */
}


input[type='text'],
input[type='email'] {
    width: 100%;
    margin-right: 10px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 600;
    font-size: 17px;
    color: var(--color-primary);
}

input[type='text']::placeholder,
input[type='email']::placeholder {
    color: var(--color-secondary);
    opacity: 50%;
}

button {
    padding: 5px;
    border: none;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: auto;
    color: var(--color-secondary);
    background-color: white;
}

button:hover {
    color: var(--color-primary);
    background-color: var(--color-tertiary);
    cursor: pointer;
}

button:focus {
    background-color: var(--color-tertiary);
    border: 3px solid var(--color-primary);
    padding: 2px;
    
}

/* Zone d'options */
.optionSource {
    margin: 20px;
}

.optionSource input[type='radio']:not(:first-child) {
    margin-left: 20px;
}

/* Zone ou sera affiché le texte (mot ou phrase) à afficher */
.zoneProposition {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    font-size: 1.3em;
    font-weight: 600;
    color: black;
}

/* Zone de saisie */
.zoneSaisie {
    color: black;

    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

/* Eléments du formulaire de saisie */
.zoneSaisie input[type='text'] {
    width: 80%;
}

.zoneSaisie button {
    width: 20%;
}

.zoneScore {
    font-size: 20px;
}

.zonePartage {
    padding-top: 20px;
}

.playground {
    margin: 5vw;
    padding: 5vw;

    color: white;

    background-color: #960151;
    border-radius: 33px 33px 33px 33px;
}

.playground p {
    font-size: 1.5em;
}