@use '../../styles/variables.scss' as *;


header {
    background-color: $primary-color;
    color: white;
    text-align: center;
    padding-top: 5vw;
    padding-bottom: 1vw;
}

nav {
    padding: 1vw;
}

ul {
    list-style-type : none;
    display: flex;
    justify-content: space-around;
  }

li {
    display : inline-block;
    color: white;
    font-size: 1.5em;
    padding: 10px;
}

li:hover {
    background-color: white;
    border-radius: 33px;
}

a {
    color: white;
    text-decoration: none;
}

li:hover a {
    color: $primary-color;
}