<header>
    <h1>Yggdrasil</h1>
    <nav>
        <ul>
          <li *ngIf="currentRoute !== ''">
            <a routerLink="">Home</a>
          </li>
      
          <li *ngIf="currentRoute === 'image-gallery' || currentRoute === 'game'">
            <a routerLink="game-gallery">Games</a>
          </li>
      
          <li *ngIf="currentRoute === 'game-gallery' || currentRoute === 'single-img'">
            <a routerLink="image-gallery">Gallery</a>
          </li>      
        </ul>
      </nav>
</header>