.image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  // Crée 3 colonnes de taille égale
    gap: 20px;  // Espacement entre les éléments
}

// .image-gallery > app-img-holder {
//     transition: all 0.5s ease; /* Animation fluide pour le déplacement */
// }

.favorite-preview {
    text-align: center;
    margin-bottom: 20px;
}

.favorite-preview img {
    max-width: 10%;
    max-height: 300px;
    border: 2px solid #ffd700; /* Optionnel : mettre en valeur */
}