@use '../../../../styles/variables.scss' as *;

.game-page {
    background-color: $secondary-color;
    overflow: hidden;

    text-align: center;
}

p {
    width: 75%;

    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-size: 1.3rem;
}


/*Baners for the game manual*/
.banner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;

    height: fit-content;
    padding: 1%;

    text-align: center;
    background-color: rgba(250, 250, 250, 90);
    border: solid 10px $primary-color;
    border-radius: 50px 0px 50px 0px;
}

h1.banner {
    width: 50%;
    font-size: 1.8em;
}

h2.banner {
    width: 40%;
    font-size: 1.6em;
}