/********************************************************************************/
/*Parties principale*/
/********************************************************************************/
* {
    margin: 0;
    box-sizing: border-box;
}

header, footer {
    background-color: #960151;
    color: white;
    text-align: center;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

main {
    background-color: #FFEAFD;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

/*Éléments de base*/
a {
    text-decoration: none;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    margin: calc(0.5em + 0.5vw);
}

h1 {
    font-size: 1.9em;
}

h2 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.5em;
}

p, ul {
    font-size: 1.3em;
    text-align: center;
    list-style-type: none;

    margin: 3vw;
}

/********************************************************************************/
/*Menu de navigation*/
/********************************************************************************/
/* Style de base pour la barre de navigation */
nav {
    padding: 10px;
}

/* Styles pour la liste non ordonnée */
nav ul {
    list-style-type: none; /* Supprime les puces par défaut */
    padding: 0; /* Supprime le padding par défaut */
    margin: 0; /* Supprime la marge par défaut */
    display: flex; /* Utilise Flexbox pour aligner les éléments horizontalement */
    justify-content: space-around; /* Espace uniforme entre les éléments */
}

/* Styles pour chaque élément de la liste */
nav li {
    margin: 0 10px; /* Marge entre les éléments (optionnel) */
    font-weight: 500;
    font-size: 1.3em;
}

/* Styles pour les liens */
nav a {
    color: white; /* Couleur du texte */
    text-decoration: none; /* Supprime le soulignement des liens */
    padding: 10px; /* Espacement interne pour les liens */
}

/* Changement de couleur lors du survol */
nav a:hover {
    background-color: white; /* Couleur de fond au survol */
    color: #960151;
    border-radius: 33px; /* Arrondi des coins */
}



/********************************************************************************/
/*Page d'accueil*/
/********************************************************************************/
/*Icones des jeux en page principale*/
.icone {
    width: 20vw;
    height: auto;
    min-width: 80px;
    box-shadow: 10px 10px 15px black;
}

.icone:hover {
    transform: scale(1.2);
}

.icones_row {
    height: fit-content;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: min(15vw, 20px); 

    padding: 20px;
    overflow-x: auto;
    flex-wrap: nowrap;
}

/********************************************************************************/
/*Pages de jeux*/
/********************************************************************************/
/*Remplace la zone de jeu*/
.remplacement {
    width: 50%;
    display: block;
    margin: auto;
}

/**
 * Mise en forme des éléments de la zone principale
*/
.toCenterPlayground {
    display: flex;
    justify-content: center;
}

.playground {
    width: max(100px, 50vw);
    text-align: center;
}

/*Baniières pour règles des jeux*/
.banniere {
    margin-left: auto;
    margin-right: auto;

    height: fit-content;
    padding: 1%;

    text-align: center;
    background-color: #FFFDFF;
    border: solid 10px #960151;
    border-radius: 50px 0px 50px 0px;
}

h1.banniere {
    width: 50%;
    font-size: 1.8em;
}

h2.banniere {
    width: 40%;
    font-size: 1.6em;
}


/********************************************************************************/
/*Adaptabilité*/
/********************************************************************************/
@media screen and (max-width: 350px){
    .banniere {
        padding: 3%;
    }
}

@media screen and (max-width: 600px) {
    .playground {
        width: 80vw;
    }

    h1.banniere {
        width: 75%;
        font-size: 1.4em;
    }
    
    h2.banniere {
        width: 60%;
        font-size: 1.2em;
    }

    p, ul {
        margin: 5vw;
        font-size: 1.2em;
        text-align: justify;
    }
}

@media screen and (min-width: 1800px) {
    .playground {
        width: 80vw;
    }

    h1.banniere {
        width: 80vw;
        font-size: 2.8em;
    }
    
    h2.banniere {
        width: 65vw;
        font-size: 2.6em;
    }

    h1 {
        font-size: 2.8em;
    }
    
    h2 {
        font-size: 2.6em;
    }
    
    h3 {
        font-size: 2.4em;
    }

    p, ul {
        font-size: 2.4em;
    }

    input[type="radio"] {
        min-height: 21px;
        transform: scale(2); /* Agrandit le bouton */
        -webkit-transform: scale(2); /* Pour compatibilité avec certains anciens navigateurs */
        -moz-transform: scale(2); /* Compatibilité avec Firefox */
        margin-right: 10px;
    }

    nav li {
        font-weight: 500;
        font-size: 2.6em;
    }
}