<div class="img-holder-card" [ngClass]="imgHolder.raceClass">
    <h2>{{ imgHolder.title }}</h2>

    <button 
        class="favorite-button" 
        (click)="onCrowned()" 
        [ngClass]="{'favorite-active': isFavorite}">
    👑
  </button>
    <img [src]="imgHolder.imgUrl" [alt]="imgHolder.title" >

    <div class="accordion">
        <div class="accordion-header" (click)="toggleAccordion()">
            <h2>Description</h2>
        </div>
        <div class="accordion-content" *ngIf="isAccordionOpen">
            <p>{{ imgHolder.description }}</p>

            <div class="description-section">
                <p>Oeuvre achevée le {{ imgHolder.createdAt }}</p>
                <p>Imaginée par {{ imgHolder.imaginedBy }}</p>
                <p>Dessinée par {{ imgHolder.drawnBy }}</p>
            </div>

            <button [routerLink]="['/single-img', imgHolder.id]">
                Voir
            </button>
        </div>
    </div>

    <p> 💜 : {{ imgHolder.totalVotes }}</p>
    <p>
        <button [ngClass]="buttonClass" (click)="onLike()">👍🏻</button> 
        {{ imgHolder.ups }}
    </p>
    <p>
        <button [ngClass]="buttonClass" (click)="onDislike()">👎🏻</button> 
        {{ imgHolder.downs }}
    </p>
</div>